/* CONTAINER */

.container {
  border: 1px solid #24292E;
  margin: 10px auto;
  display: flex;
  width: 60%;
  background-color: #fff;
  text-decoration: none;
  color: #24292E;
}

.container:hover {
  background-color: rgb(216, 216, 216);
  transform: scale(1.02);
}

/* LEFT SIDE */

.leftSide {
  width: 30%;
  border-right: 2px solid #24292E;
  padding: 3% 0px 3% 0px;
  box-sizing: border-box;
  
}

.leftSide img {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  margin: 5% auto;
}

.leftSide h1{
  font-size: 15px;
  text-align: center;
  word-wrap: break-word;
  box-sizing: border-box;
  margin: 5% auto;
}

/* RIGHT SIDE */
.rightSide {
  width: 70%;
  text-align: left;
  max-width: 500px;
  padding: 10px 20px 10px 20px;
}

.rightSide h3 {
  font-size: 15px;
  font-weight: 400;
  word-wrap: break-word
}